footer{
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    height: 100px;
}
.foot_not{
    border-top:solid 3px #3e4042;
    margin:10px 10px;
}
.foot_not a{
    text-decoration: none;
    margin: 10px;
}
.notice{
    margin:20px;
    float: left;
}
.notice h2{
    width: 90px;
    margin-bottom : 10px;
    border-bottom: solid 2px #3e4042;
}
.notice a{
    font-size: 14px;
}
.about{
    float:right;
}
.about_list li{
    width: 150px;
    vertical-align: top;
    margin:20px;
    text-align: left;
    display: inline-block;
}
.about_list h2{
    width: 180px;
    margin-bottom: 20px;
}
.about_list a{
    text-align: left; 
    margin-left:0;
    margin-bottom: 15px;
    font-size: 14px;
    display: block;
    line-height: 80%;
}