*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    position:fixed; 
    top:0;
    left:0;
    right:0;
    width: 1480px;
    height: 175px;
    padding:1rem;
    background-color: #ffffff;
    /* opacity: 0.8; */
    z-index: 999999;
}
body{
}
.page{
    width:1510px;
    min-height: 100%;
    position: relative;
}
.main{
    width:1510px;
    height:100%;
    position: relative;
    margin: 0 auto;
    margin-top:200px;
    padding-bottom: 2000px;
}
aside{
    margin-left: 30px;
    margin-top:100px;
    width: 200px;
    float: left;
    position: absolute;
}
.sidemenu{
    border-top : 3px solid black;
    border-bottom : 3px solid black;
}
aside ul li{
    font-size: 30px;
    margin:10px;
}
.sm_title{
    font-size: 45px;
    margin-bottom: 300px;
    line-height: 250%;
    font-weight: bold;
    border-bottom : 3px solid black;
}
section{
    float: right;
    width:1200px;
    height: auto;
}
.items{
    float: right;
    margin-top:150px;
}
.items img{
    width:360px;
    height:360px;
}
.items li{
    float: left;
    display: block;
    margin:10px;
    height: 500px;
    margin-top:20px;
}
.info{
    margin-top: 30px;
    margin-left:30px;
}
.brand{
    text-decoration: underline;
    font-weight: bold;
    font-size:16px;
    margin-bottom: 10px;
}
.name{
    font-size: 14px;
    margin-bottom: 5px;
}
.org_price{
    text-decoration: line-through;
    opacity: 0.5;
    /* font-weight: bold; */
    /* font-size: 18px; */
}
.discount_price{
    color:red;
    font-weight: bold;
    font-size : 18px;
}
.filter{
    padding-top:60px;
}
.filter ul{
    font-weight: bold;
    padding-top:10px;
}
.filter li{
    border-top:none;
    font-size: 15px;
    line-height: 100%;
    font-weight: lighter;
}
.filter_name{
    font-size:20px;
}
.filter_btn{
    border:none;
    background-color:#fff; 
    float: right;
    margin-top:15px;
    margin-right: 20px;
    font-weight: bold;
}
.filter_btn:hover{
    font-weight: bold;
}